services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "./nginx/ssl:/etc/nginx/ssl:ro"
      - "./nginx/nginx.conf:/etc/nginx/nginx.conf:ro"
    depends_on:
      - service-one
      - service-two
      - service-three

  service-one:
    build: ./service-one/
    environment:
      - APP_NAME=Service1

  service-two:
    build: ./service-two/
    environment:
      - APP_NAME=Service2

  service-three:
    build: ./service-three/
    environment:
      - APP_NAME=Service3
